.person-detail{
    width: 80%;
    margin: 0 auto;
    background-color: lightgrey;
    border-radius: 20px;
    border: 2px solid black;
}
.img-container{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 0px;
}

@media screen and (min-width: 500px){
    .person-detail{
        width: 400px;
    }
}